.link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  &:active, &:focus, &:hover {
    color: inherit;
    text-decoration: underline;
  }
}

.link--underline {
  text-decoration: underline;
}

.link--noUnderline {
  text-decoration: none;
  &:active, &:focus, &:hover {
    text-decoration: none;
  }
}
