.svgIcon--light {
  fill: rgba(255, 255, 255, 0.65);
}

.svgIcon {
  display: inline-block;
}

.svgIcon--15px {
  line-height: 15px;
  height: 15px;
}

.svgIcon--19px {
  line-height: 19px;
  height: 19px;
}

.svgIcon--21px {
  line-height: 21px;
  height: 21px;
}

.svgIcon--25px {
  line-height: 25px;
  height: 25px;
}

.svgIcon--29px {
  line-height: 29px;
  height: 29px;
}

.svgIcon--33px {
  line-height: 33px;
  height: 33px;
}

.svgIcon--45px {
  line-height: 45px;
  height: 45px;
}

.svgIcon--65px {
  line-height: 65px;
  height: 65px;
}

.svgIcon--85px {
  line-height: 85px;
  height: 85px;
}

.svgIcon--120px {
  line-height: 120px;
  height: 120px;
}

.svgIcon--45x29px {
  line-height: 29px;
  height: 29px;
}

.svgIcon--129x37px {
  line-height: 37px;
  height: 37px;
}

.svgIcon--95x45px {
  line-height: 45px;
  height: 45px;
}

.svgIcon--151x65px {
  line-height: 65px;
  height: 65px;
}

.svgIcon--201x85px {
  line-height: 85px;
  height: 85px;
}
