footer {
  clear: both;
  position: relative;
  height: 3em;
  margin-top: 3em;

  text-align: center;
  margin-bottom: 10px;
}

footer p {
  color: #888;
  font-size: 13px;
  letter-spacing: .4px;
}

footer a:hover {
  text-decoration: underline;
}

footer img {
  width: 80px;
  transition: all .2s ease;
}

footer img:hover { opacity: .83; }

footer img:focus , footer a:focus { outline: none; }
