// TODO: use react state theme

.colorPrimary {
  color: #039be5;
}

.hoverPrimary:hover {
  color: #039be5 !important;
}

.visitedPrimary:visited {
  color: #039be5 !important;
}

.borderPrimary {
  border-color: #039be5 !important
}
