@import "./type-scale";

//
// .u- prefixed class name for single purpose utility classes like .u-underline, .u-capitalize, etc.
//


.u-flexTop {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.u-flexCenter {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.u-flexBottom {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: bottom !important;
  align-items: bottom !important;
}

.u-flexEnd {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.u-flexStretch {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

.u-flexColumn {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.u-flexColumnTop {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.u-flexColumnBottom {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.u-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.u-justifyContentSpaceBetween {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.u-justifyContentCenter {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.u-alignSelfStart {
  -ms-flex-item-align: start !important;
  -ms-grid-row-align: start !important;
  align-self: start !important;
}

.u-flexColumnSpaceBetween {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.u-flex0 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.u-flex1 {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.u-flexShrink1 {
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.u-flexWrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.u-flexAlignSelfCenter {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media (max-width: 991px) {
  .u-sm-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .u-sm-flexWrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .u-sm-flexAlignStretch {
    -ms-flex-align: stretch;
    align-items: stretch;
  }
}

@media (max-width: 767px) {
  .u-xs-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .u-xs-flexColumn {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .u-xs-flexTop {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  .u-xs-flexWrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .u-xs-flexColumnReverse {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .u-xs-flexAlignStretch {
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .u-xs-flex1 {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  .u-xs-flexOrderNegative1 {
    -ms-flex-order: -1;
    order: -1;
  }
}

.u-alignMiddle {
  .u-alignBlock {
    display: inline-block !important;
    vertical-align: middle !important;
  }
  &:before {
    display: inline-block !important;
    vertical-align: middle !important;
    content: "" !important;
    height: 100% !important;
  }
}

.u-floatLeft {
  float: left !important;
}

.u-floatRight {
  float: right !important;
}

.u-floatNone {
  float: none !important;
}

.u-clearBoth {
  clear: both !important;
}

@media (max-width: 767px) {
  .u-xs-floatLeft {
    float: left !important;
  }
  .u-xs-floatRight {
    float: right !important;
  }
  .u-xs-floatNone {
    float: none !important;
  }
}

.u-verticalAlignTop {
  vertical-align: top !important;
}

.u-verticalAlignMiddle {
  vertical-align: middle !important;
}

.u-verticalAlignBottom {
  vertical-align: bottom !important;
}

.u-verticalAlignBaseline {
  vertical-align: baseline !important;
}

.u-verticalAlignTextBottom {
  vertical-align: text-bottom !important;
}

.u-disablePointerEvents {
  pointer-events: none !important;
}

.u-pointerEventsAuto {
  pointer-events: auto !important;
}

.u-noUserSelect {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

.u-overflowX {
  overflow-x: auto !important;
  overflow-y: hidden !important;
  -webkit-overflow-scrolling: touch !important;
  -ms-overflow-style: -ms-autohiding-scrollbar !important;
}

.u-overflowScroll {
  overflow: scroll !important;
}

.u-overflowScrollY {
  overflow-y: scroll !important;
}

.u-overflowHidden {
  overflow: hidden !important;
}

.u-overflowHiddenY {
  overflow-y: hidden !important;
}

.u-overflowVisible {
  overflow: visible !important;
}

.u-overflowAuto {
  overflow: auto !important;
}

@media screen and (max-width: 991px) {
  .u-sm-overflowHidden {
    overflow: hidden !important;
  }
}

@media screen and (max-width: 767px) {
  .u-xs-overflowScrollX {
    overflow-x: scroll !important;
    -webkit-overflow-scrolling: touch !important;
    -ms-overflow-style: -ms-autohiding-scrollbar !important;
  }
  .u-xs-overflowHidden {
    overflow: hidden !important;
  }
}

.u-inline {
  display: inline !important;
}

.u-inlineBlock {
  display: inline-block !important;
}

.u-block {
  display: block !important;
}

.u-hide, .u-hideIfEmpty:empty {
  display: none !important;
}

.u-zeroSize {
  overflow: hidden;
  width: 0 !important;
  height: 0 !important;
}

.u-table {
  display: table !important;
  &:before {
    height: auto !important;
    display: inherit !important;
  }
}

.u-tableCell {
  display: table-cell !important;
}

@media screen and (min-width: 992px) {
  .u-sm-show {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .u-xs-show {
    display: none !important;
  }
}

@media screen and (max-width: 991px) {
  .u-sm-hide {
    display: none !important;
  }
  .u-sm-block {
    display: block !important;
  }
  .u-sm-inline {
    display: inline !important;
  }
}

@media screen and (max-width: 767px) {
  .u-xs-flexOrder0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .u-xs-flexOrder1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .u-xs-hide {
    display: none !important;
  }
  .u-xs-block {
    display: block !important;
  }
  .u-xs-inline {
    display: inline !important;
  }
}

@media print {
  .u-print-hide {
    display: none !important;
  }
}

.u-clearfix {
  &:after, &:before {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}

.u-foreground {
  position: relative !important;
  z-index: 100 !important;
}

.u-background {
  z-index: 70 !important;
}

.u-overlay {
  z-index: 900 !important;
}

.u-zIndexFloating {
  z-index: 700 !important;
}

.u-zIndexMetabar {
  z-index: 500 !important;
}

.u-borderBox {
  box-sizing: border-box !important;
}

.u-tableLayoutFixed {
  table-layout: fixed;
}

.u-columnWidth170 {
  column-width: 170px;
  -moz-column-width: 170px;
  -webkit-column-width: 170px;
}

.u-margin0 {
  margin: 0 !important;
}

.u-marginTop0 {
  margin-top: 0 !important;
}

.u-marginBottom0 {
  margin-bottom: 0 !important;
}

.u-marginLeft0 {
  margin-left: 0 !important;
}

.u-marginRight0 {
  margin-right: 0 !important;
}

.u-margin5 {
  margin: 5px !important;
}

.u-marginTop5 {
  margin-top: 5px !important;
}

.u-marginBottom5 {
  margin-bottom: 5px !important;
}

.u-marginLeft5 {
  margin-left: 5px !important;
}

.u-marginRight5 {
  margin-right: 5px !important;
}

.u-margin10 {
  margin: 10px !important;
}

.u-marginTop10 {
  margin-top: 10px !important;
}

.u-marginBottom10 {
  margin-bottom: 10px !important;
}

.u-marginLeft10 {
  margin-left: 10px !important;
}

.u-marginRight10 {
  margin-right: 10px !important;
}

.u-margin15 {
  margin: 15px !important;
}

.u-marginTop15 {
  margin-top: 15px !important;
}

.u-marginBottom15 {
  margin-bottom: 15px !important;
}

.u-marginLeft15 {
  margin-left: 15px !important;
}

.u-marginRight15 {
  margin-right: 15px !important;
}

.u-margin20 {
  margin: 20px !important;
}

.u-marginTop20 {
  margin-top: 20px !important;
}

.u-marginBottom20 {
  margin-bottom: 20px !important;
}

.u-marginLeft20 {
  margin-left: 20px !important;
}

.u-marginRight20 {
  margin-right: 20px !important;
}

.u-margin25 {
  margin: 25px !important;
}

.u-marginTop25 {
  margin-top: 25px !important;
}

.u-marginBottom25 {
  margin-bottom: 25px !important;
}

.u-marginLeft25 {
  margin-left: 25px !important;
}

.u-marginRight25 {
  margin-right: 25px !important;
}

.u-margin30 {
  margin: 30px !important;
}

.u-marginTop30 {
  margin-top: 30px !important;
}

.u-marginBottom30 {
  margin-bottom: 30px !important;
}

.u-marginLeft30 {
  margin-left: 30px !important;
}

.u-marginRight30 {
  margin-right: 30px !important;
}

.u-margin40 {
  margin: 40px !important;
}

.u-marginTop40 {
  margin-top: 40px !important;
}

.u-marginBottom40 {
  margin-bottom: 40px !important;
}

.u-marginLeft40 {
  margin-left: 40px !important;
}

.u-marginRight40 {
  margin-right: 40px !important;
}

.u-margin50 {
  margin: 50px !important;
}

.u-marginTop50 {
  margin-top: 50px !important;
}

.u-marginBottom50 {
  margin-bottom: 50px !important;
}

.u-marginLeft50 {
  margin-left: 50px !important;
}

.u-marginRight50 {
  margin-right: 50px !important;
}

.u-marginAuto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.u-margin3 {
  margin: 3px !important;
}

.u-margin4 {
  margin: 4px !important;
}

.u-margin8 {
  margin: 8px !important;
}

.u-marginTopNegative80 {
  margin-top: (-80px) !important;
}

.u-marginTopNegative95 {
  margin-top: (-95px) !important;
}

.u-marginTopNegative7 {
  margin-top: (-7px) !important;
}

.u-marginTopNegative5 {
  margin-top: (-5px) !important;
}

.u-marginTopNegative4 {
  margin-top: (-4px) !important;
}

.u-marginTopNegative2 {
  margin-top: (-2px) !important;
}

.u-marginTop2 {
  margin-top: 2px !important;
}

.u-marginTop3 {
  margin-top: 3px !important;
}

.u-marginTop4 {
  margin-top: 4px !important;
}

.u-marginTop7 {
  margin-top: 7px !important;
}

.u-marginTop11 {
  margin-top: 11px !important;
}

.u-marginTop60 {
  margin-top: 60px !important;
}

.u-marginTop70 {
  margin-top: 70px !important;
}

.u-marginTop75 {
  margin-top: 75px !important;
}

.u-marginTop100 {
  margin-top: 100px !important;
}

.u-marginTop120 {
  margin-top: 120px !important;
}

.u-marginTop180 {
  margin-top: 180px !important;
}

.u-marginBottomNegative1 {
  margin-bottom: (-1px) !important;
}

.u-marginBottom4 {
  margin-bottom: 4px !important;
}

.u-marginBottom7 {
  margin-bottom: 7px !important;
}

.u-marginBottom60 {
  margin-bottom: 60px !important;
}

.u-marginBottom100 {
  margin-bottom: 100px !important;
}

.u-marginBottom180 {
  margin-bottom: 180px !important;
}

.u-marginRightNegative12 {
  margin-right: (-12px) !important;
}

.u-marginRightNegative5 {
  margin-right: (-5px) !important;
}

.u-marginRight2 {
  margin-right: 2px !important;
}

.u-marginRight3 {
  margin-right: 3px !important;
}

.u-marginRight7 {
  margin-right: 7px !important;
}

.u-marginRight16 {
  margin-right: 16px !important;
}

.u-marginRight18 {
  margin-right: 18px !important;
}

.u-marginRight60 {
  margin-right: 60px !important;
}

.u-marginRight80 {
  margin-right: 80px !important;
}

.u-marginRight100 {
  margin-right: 100px !important;
}

.u-marginRight160 {
  margin-right: 160px !important;
}

.u-marginLeftAuto {
  margin-left: auto !important;
}

.u-marginLeftNegative80 {
  margin-left: (-80px) !important;
}

.u-marginLeftNegative30 {
  margin-left: (-30px) !important;
}

.u-marginLeftNegative12 {
  margin-left: (-12px) !important;
}

.u-marginLeftNegative2 {
  margin-left: (-2px) !important;
}

.u-marginLeft3 {
  margin-left: 3px !important;
}

.u-marginLeft4 {
  margin-left: 4px !important;
}

.u-marginLeft8 {
  margin-left: 8px !important;
}

.u-marginLeft12 {
  margin-left: 12px !important;
}

.u-marginLeft18 {
  margin-left: 18px !important;
}

.u-marginLeft35 {
  margin-left: 35px !important;
}

.u-marginLeft100 {
  margin-left: 100px !important;
}

@media screen and (max-width: 991px) {
  .u-sm-marginTopNegative20 {
    margin-top: (-20px) !important;
  }
  .u-sm-marginRight20 {
    margin-right: 20px !important;
  }
  .u-sm-marginRight30 {
    margin-right: 30px !important;
  }
  .u-sm-marginLeft0 {
    margin-left: 0 !important;
  }
  .u-sm-marginLeft20 {
    margin-left: 20px !important;
  }
  .u-sm-marginLeft30 {
    margin-left: 30px !important;
  }
}

@media screen and (max-width: 767px) {
  .u-xs-margin0 {
    margin: 0 !important;
  }
  .u-xs-marginTop0 {
    margin-top: 0 !important;
  }
  .u-xs-marginBottom0 {
    margin-bottom: 0 !important;
  }
  .u-xs-marginLeft0 {
    margin-left: 0 !important;
  }
  .u-xs-marginRight0 {
    margin-right: 0 !important;
  }
  .u-xs-margin20 {
    margin: 20px !important;
  }
  .u-xs-marginTop20 {
    margin-top: 20px !important;
  }
  .u-xs-marginBottom20 {
    margin-bottom: 20px !important;
  }
  .u-xs-marginLeft20 {
    margin-left: 20px !important;
  }
  .u-xs-marginRight20 {
    margin-right: 20px !important;
  }
  .u-xs-margin10 {
    margin: 10px !important;
  }
  .u-xs-marginTop4 {
    margin-top: 4px !important;
  }
  .u-xs-marginTop15 {
    margin-top: 15px !important;
  }
  .u-xs-marginTop30 {
    margin-top: 30px !important;
  }
  .u-xs-marginTop35 {
    margin-top: 35px !important;
  }
  .u-xs-marginTop50 {
    margin-top: 50px !important;
  }
  .u-xs-marginBottom5 {
    margin-bottom: 5px !important;
  }
  .u-xs-marginBottom10 {
    margin-bottom: 10px !important;
  }
  .u-xs-marginRight15 {
    margin-right: 15px !important;
  }
  .u-xs-marginRight30 {
    margin-right: 30px !important;
  }
  .u-xs-marginBottom30 {
    margin-bottom: 30px !important;
  }
  .u-xs-marginBottom60 {
    margin-bottom: 60px !important;
  }
  .u-xs-marginRight60 {
    margin-right: 60px !important;
  }
  .u-xs-marginLeft30 {
    margin-left: 30px !important;
  }
  .u-xs-marginAuto {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.u-padding0 {
  padding: 0 !important;
}

.u-paddingTop0 {
  padding-top: 0 !important;
}

.u-paddingBottom0 {
  padding-bottom: 0 !important;
}

.u-paddingLeft0 {
  padding-left: 0 !important;
}

.u-paddingRight0 {
  padding-right: 0 !important;
}

.u-padding5 {
  padding: 5px !important;
}

.u-paddingTop5 {
  padding-top: 5px !important;
}

.u-paddingBottom5 {
  padding-bottom: 5px !important;
}

.u-paddingLeft5 {
  padding-left: 5px !important;
}

.u-paddingRight5 {
  padding-right: 5px !important;
}

.u-padding10 {
  padding: 10px !important;
}

.u-paddingTop10 {
  padding-top: 10px !important;
}

.u-paddingBottom10 {
  padding-bottom: 10px !important;
}

.u-paddingLeft10 {
  padding-left: 10px !important;
}

.u-paddingRight10 {
  padding-right: 10px !important;
}

.u-padding15 {
  padding: 15px !important;
}

.u-paddingTop15 {
  padding-top: 15px !important;
}

.u-paddingBottom15 {
  padding-bottom: 15px !important;
}

.u-paddingLeft15 {
  padding-left: 15px !important;
}

.u-paddingRight15 {
  padding-right: 15px !important;
}

.u-padding20 {
  padding: 20px !important;
}

.u-paddingTop20 {
  padding-top: 20px !important;
}

.u-paddingBottom20 {
  padding-bottom: 20px !important;
}

.u-paddingLeft20 {
  padding-left: 20px !important;
}

.u-paddingRight20 {
  padding-right: 20px !important;
}

.u-padding25 {
  padding: 25px !important;
}

.u-paddingTop25 {
  padding-top: 25px !important;
}

.u-paddingBottom25 {
  padding-bottom: 25px !important;
}

.u-paddingLeft25 {
  padding-left: 25px !important;
}

.u-paddingRight25 {
  padding-right: 25px !important;
}

.u-padding30 {
  padding: 30px !important;
}

.u-paddingTop30 {
  padding-top: 30px !important;
}

.u-paddingBottom30 {
  padding-bottom: 30px !important;
}

.u-paddingLeft30 {
  padding-left: 30px !important;
}

.u-paddingRight30 {
  padding-right: 30px !important;
}

.u-paddingTop1 {
  padding-top: 1px !important;
}

.u-paddingTop2 {
  padding-top: 2px !important;
}

.u-paddingTop4 {
  padding-top: 4px !important;
}

.u-paddingTop7 {
  padding-top: 7px !important;
}

.u-paddingTop8 {
  padding-top: 8px !important;
}

.u-paddingTop11 {
  padding-top: 11px !important;
}

.u-paddingTop13 {
  padding-top: 13px !important;
}

.u-paddingTop14 {
  padding-top: 14px !important;
}

.u-paddingTop16 {
  padding-top: 16px !important;
}

.u-paddingTop18 {
  padding-top: 18px !important;
}

.u-paddingTop19 {
  padding-top: 19px !important;
}

.u-paddingTop35 {
  padding-top: 35px !important;
}

.u-paddingTop40 {
  padding-top: 40px !important;
}

.u-paddingTop50 {
  padding-top: 50px !important;
}

.u-paddingTop60 {
  padding-top: 60px !important;
}

.u-paddingTop70 {
  padding-top: 70px !important;
}

.u-paddingTop80 {
  padding-top: 80px !important;
}

.u-paddingTop90 {
  padding-top: 90px !important;
}

.u-paddingTop100 {
  padding-top: 100px !important;
}

.u-paddingTop110 {
  padding-top: 110px !important;
}

.u-paddingTop180 {
  padding-top: 180px !important;
}

.u-paddingTop177p77pct {
  padding-top: 177.77% !important;
}

.u-paddingTop1p25em {
  padding-top: 1.25em !important;
}

.u-paddingBottom2 {
  padding-bottom: 2px !important;
}

.u-paddingBottom3 {
  padding-bottom: 3px !important;
}

.u-paddingBottom4 {
  padding-bottom: 4px !important;
}

.u-paddingBottom7 {
  padding-bottom: 7px !important;
}

.u-paddingBottom8 {
  padding-bottom: 8px !important;
}

.u-paddingBottom18 {
  padding-bottom: 18px !important;
}

.u-paddingBottom35 {
  padding-bottom: 35px !important;
}

.u-paddingBottom40 {
  padding-bottom: 40px !important;
}

.u-paddingBottom50 {
  padding-bottom: 50px !important;
}

.u-paddingBottom60 {
  padding-bottom: 60px !important;
}

.u-paddingBottom80 {
  padding-bottom: 80px !important;
}

.u-paddingBottom100 {
  padding-bottom: 100px !important;
}

.u-paddingBottom150 {
  padding-bottom: 150px !important;
}

.u-paddingBottom150Pct {
  padding-bottom: 150% !important;
}

.u-paddingBottom1p25em {
  padding-bottom: 1.25em !important;
}

.u-paddingLeft6 {
  padding-left: 6px !important;
}

.u-paddingLeft8 {
  padding-left: 8px !important;
}

.u-paddingLeft9 {
  padding-left: 9px !important;
}

.u-paddingLeft12 {
  padding-left: 12px !important;
}

.u-paddingLeft13 {
  padding-left: 13px !important;
}

.u-paddingLeft14 {
  padding-left: 14px !important;
}

.u-paddingLeft22 {
  padding-left: 22px !important;
}

.u-paddingLeft35 {
  padding-left: 35px !important;
}

.u-paddingLeft40 {
  padding-left: 40px !important;
}

.u-paddingLeft50 {
  padding-left: 50px !important;
}

.u-paddingLeft60 {
  padding-left: 60px !important;
}

.u-paddingRight8 {
  padding-right: 8px !important;
}

.u-paddingRight12 {
  padding-right: 12px !important;
}

.u-paddingRight16 {
  padding-right: 16px !important;
}

.u-paddingRight18 {
  padding-right: 18px !important;
}

.u-paddingRight40 {
  padding-right: 40px !important;
}

.u-paddingRight50 {
  padding-right: 50px !important;
}

.u-paddingRight60 {
  padding-right: 60px !important;
}

.u-paddingRight100 {
  padding-right: 100px !important;
}

.u-paddingRight200 {
  padding-right: 200px !important;
}

.u-padding2 {
  padding: 2px !important;
}

.u-padding8 {
  padding: 8px !important;
}

.u-padding14 {
  padding: 14px !important;
}

.u-padding16 {
  padding: 16px !important;
}

.u-padding40 {
  padding: 40px !important;
}

@media (max-width: 991px) {
  .u-sm-paddingTop0 {
    padding-top: 0 !important;
  }
  .u-sm-paddingTop30 {
    padding-top: 30px !important;
  }
  .u-sm-paddingBottom30 {
    padding-bottom: 30px !important;
  }
  .u-sm-paddingLeft20 {
    padding-left: 20px !important;
  }
  .u-sm-paddingLeft50 {
    padding-left: 50px !important;
  }
  .u-sm-paddingRight20 {
    padding-right: 20px !important;
  }
  .u-sm-padding0 {
    padding: 0 !important;
  }
  .u-sm-padding30 {
    padding: 30px !important;
  }
}

@media (max-width: 767px) {
  .u-xs-padding0 {
    padding: 0 !important;
  }
  .u-xs-paddingTop0 {
    padding-top: 0 !important;
  }
  .u-xs-paddingBottom0 {
    padding-bottom: 0 !important;
  }
  .u-xs-paddingLeft0 {
    padding-left: 0 !important;
  }
  .u-xs-paddingRight0 {
    padding-right: 0 !important;
  }
  .u-xs-padding5 {
    padding: 5px !important;
  }
  .u-xs-paddingTop5 {
    padding-top: 5px !important;
  }
  .u-xs-paddingBottom5 {
    padding-bottom: 5px !important;
  }
  .u-xs-paddingLeft5 {
    padding-left: 5px !important;
  }
  .u-xs-paddingRight5 {
    padding-right: 5px !important;
  }
  .u-xs-padding10 {
    padding: 10px !important;
  }
  .u-xs-paddingTop10 {
    padding-top: 10px !important;
  }
  .u-xs-paddingBottom10 {
    padding-bottom: 10px !important;
  }
  .u-xs-paddingLeft10 {
    padding-left: 10px !important;
  }
  .u-xs-paddingRight10 {
    padding-right: 10px !important;
  }
  .u-xs-padding15 {
    padding: 15px !important;
  }
  .u-xs-paddingTop15 {
    padding-top: 15px !important;
  }
  .u-xs-paddingBottom15 {
    padding-bottom: 15px !important;
  }
  .u-xs-paddingLeft15 {
    padding-left: 15px !important;
  }
  .u-xs-paddingRight15 {
    padding-right: 15px !important;
  }
  .u-xs-padding20 {
    padding: 20px !important;
  }
  .u-xs-paddingTop20 {
    padding-top: 20px !important;
  }
  .u-xs-paddingBottom20 {
    padding-bottom: 20px !important;
  }
  .u-xs-paddingLeft20 {
    padding-left: 20px !important;
  }
  .u-xs-paddingRight20 {
    padding-right: 20px !important;
  }
  .u-xs-paddingTop0 {
    padding-top: 0 !important;
  }
  .u-xs-paddingTop13 {
    padding-top: 13px !important;
  }
  .u-xs-paddingTop25 {
    padding-top: 25px !important;
  }
  .u-xs-paddingTop30 {
    padding-top: 30px !important;
  }
  .u-xs-paddingTop35 {
    padding-top: 35px !important;
  }
  .u-xs-paddingTop50 {
    padding-top: 50px !important;
  }
  .u-xs-paddingTop60 {
    padding-top: 60px !important;
  }
  .u-xs-paddingRight12 {
    padding-right: 12px !important;
  }
  .u-xs-paddingRight30 {
    padding-right: 30px !important;
  }
  .u-xs-paddingBottom5 {
    padding-bottom: 5px !important;
  }
  .u-xs-paddingBottom25 {
    padding-bottom: 25px !important;
  }
  .u-xs-paddingBottom30 {
    padding-bottom: 30px !important;
  }
  .u-xs-paddingLeft4 {
    padding-left: 4px !important;
  }
  .u-xs-paddingLeft12 {
    padding-left: 12px !important;
  }
  .u-xs-paddingLeft30 {
    padding-left: 30px !important;
  }
  .u-xs-paddingLeft40, .u-xs-paddingLeft50 {
    padding-left: 40px !important;
  }
  .u-xs-paddingRight40 {
    padding-right: 40px !important;
  }
  .u-xs-padding12 {
    padding: 12px !important;
  }
  .u-xs-padding30 {
    padding: 30px !important;
  }
}

.u-relative {
  position: relative !important;
}

.u-absolute {
  position: absolute !important;
}

.u-fixed {
  position: fixed !important;
}

.u-absolute0 {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

.u-absoluteNegative1 {
  position: absolute !important;
  top: (-1px) !important;
  left: (-1px) !important;
  right: (-1px) !important;
  bottom: (-1px) !important;
}

.u-topNegative100Percent {
  top: (-100%) !important;
}

.u-right20Percent {
  right: 20% !important;
}

.u-right40Percent {
  right: 40% !important;
}

.u-topNegative36 {
  top: (-36px) !important;
}

.u-top0 {
  top: 0 !important;
}

.u-top1 {
  top: 1px !important;
}

.u-top2 {
  top: 2px !important;
}

.u-top3 {
  top: 3px !important;
}

.u-top5 {
  top: 5px !important;
}

.u-top10 {
  top: 10px !important;
}

.u-top16 {
  top: 16px !important;
}

.u-top20 {
  top: 20px !important;
}

.u-top76 {
  top: 76px !important;
}

.u-bottomNegative1 {
  bottom: (-1px) !important;
}

.u-bottom0 {
  bottom: 0 !important;
}

.u-bottom10 {
  bottom: 10px !important;
}

.u-bottom25 {
  bottom: 25px !important;
}

.u-rightNegative1 {
  right: (-1px) !important;
}

.u-rightNegative30em {
  right: (-30em) !important;
}

.u-right0 {
  right: 0 !important;
}

.u-right3 {
  right: 3px !important;
}

.u-right10 {
  right: 10px !important;
}

.u-right15 {
  right: 15px !important;
}

.u-right20 {
  right: 20px !important;
}

.u-right1p25em {
  right: 1.25em !important;
}

.u-rightNegative13 {
  right: (-13px) !important;
}

.u-rightNegative15 {
  right: (-15px) !important;
}

.u-rightNegative25Percent {
  right: (-25%) !important;
}

.u-leftNegative30em {
  left: (-30em) !important;
}

.u-leftNegative20 {
  left: (-20px) !important;
}

.u-leftNegative19 {
  left: (-19px) !important;
}

.u-left0 {
  left: 0 !important;
}

.u-left2 {
  left: 2px !important;
}

.u-left3 {
  left: 3px !important;
}

.u-left14 {
  left: 14px !important;
}

.u-left24 {
  left: 24px !important;
}

.u-left25 {
  left: 25px !important;
}

.u-left25Percent {
  left: 25% !important;
}

@media screen and (max-width: 991px) {
  .u-sm-relative {
    position: relative !important;
  }
  .u-sm-left40Percent {
    left: 40% !important;
  }
  .u-sm-rightNegative40Percent {
    right: (-40%) !important;
  }
  .u-sm-right0 {
    right: 0 !important;
  }
}

@media screen and (max-width: 767px) {
  .u-xs-relative {
    position: relative !important;
  }
  .u-xs-absolute {
    position: absolute !important;
  }
  .u-xs-top1 {
    top: 1px !important;
  }
  .u-xs-top2 {
    top: 2px !important;
  }
  .u-xs-left0 {
    left: 0 !important;
  }
  .u-xs-right0 {
    right: 0 !important;
  }
  .u-xs-right5 {
    right: 5px !important;
  }
}

.u-heightAuto {
  height: auto !important;
}

.u-height5, .u-height7 {
  height: 5px !important;
}

.u-height15 {
  height: 15px !important;
}

.u-height19 {
  height: 19px !important;
}

.u-height20 {
  height: 20px !important;
}

.u-height28 {
  height: 28px !important;
}

.u-height32 {
  height: 32px !important;
}

.u-height35 {
  height: 35px !important;
}

.u-height36 {
  height: 36px !important;
}

.u-height40 {
  height: 40px !important;
}

.u-height44 {
  height: 44px !important;
}

.u-height50 {
  height: 50px !important;
}

.u-height60 {
  height: 60px !important;
}

.u-height65 {
  height: 65px !important;
}

.u-height95 {
  height: 95px !important;
}

.u-height100 {
  height: 100px !important;
}

.u-height105 {
  height: 105px !important;
}

.u-height110 {
  height: 110px !important;
}

.u-height115 {
  height: 115px !important;
}

.u-height120 {
  height: 120px !important;
}

.u-height130 {
  height: 130px !important;
}

.u-height145 {
  height: 145px !important;
}

.u-height155 {
  height: 155px !important;
}

.u-height165 {
  height: 165px !important;
}

.u-height172 {
  height: 172px !important;
}

.u-height180 {
  height: 180px !important;
}

.u-height200 {
  height: 200px !important;
}

.u-height220 {
  height: 220px !important;
}

.u-height240 {
  height: 240px !important;
}

.u-height250 {
  height: 250px !important;
}

.u-height272 {
  height: 272px !important;
}

.u-height280 {
  height: 280px !important;
}

.u-height315 {
  height: 315px !important;
}

.u-height350 {
  height: 350px !important;
}

.u-height400 {
  height: 400px !important;
}

.u-height448 {
  height: 448px !important;
}

.u-height450 {
  height: 450px !important;
}

.u-height460 {
  height: 460px !important;
}

.u-height600 {
  height: 600px !important;
}

.u-height40em {
  height: 40em !important;
}

.u-widthAuto {
  width: auto !important;
}

.u-width1 {
  width: 1px !important;
}

.u-width7 {
  width: 5px !important;
}

.u-width20 {
  width: 20px !important;
}

.u-width30 {
  width: 30px !important;
}

.u-width35 {
  width: 35px !important;
}

.u-width40 {
  width: 40px !important;
}

.u-width50 {
  width: 50px !important;
}

.u-width60 {
  width: 60px !important;
}

.u-width80 {
  width: 80px !important;
}

.u-width100 {
  width: 100px !important;
}

.u-width120 {
  width: 120px !important;
}

.u-width130 {
  width: 130px !important;
}

.u-width135 {
  width: 135px !important;
}

.u-width140 {
  width: 140px !important;
}

.u-width145 {
  width: 145px !important;
}

.u-width150 {
  width: 150px !important;
}

.u-width180 {
  width: 180px !important;
}

.u-width190 {
  width: 190px !important;
}

.u-width200 {
  width: 200px !important;
}

.u-width214 {
  width: 214px !important;
}

.u-width225 {
  width: 225px !important;
}

.u-width240 {
  width: 240px !important;
}

.u-width250 {
  width: 250px !important;
}

.u-width252 {
  width: 252px !important;
}

.u-width255 {
  width: 255px !important;
}

.u-width260 {
  width: 260px !important;
}

.u-width265 {
  width: 265px !important;
}

.u-width280 {
  width: 280px !important;
}

.u-width300 {
  width: 300px !important;
}

.u-width320 {
  width: 320px !important;
}

.u-width360 {
  width: 360px !important;
}

.u-width400 {
  width: 400px !important;
}

.u-width510 {
  width: 510px !important;
}

.u-width550 {
  width: 550px !important;
}

.u-width560 {
  width: 560px !important;
}

.u-width940 {
  width: 940px !important;
}

.u-width22p5em {
  width: 22.5em !important;
}

.u-maxSizeFullWidth {
  max-width: 100% !important;
}

.u-maxHeight40 {
  max-height: 40px !important;
}

.u-maxHeight60 {
  max-height: 60px !important;
}

.u-maxHeight250 {
  max-height: 250px !important;
}

.u-maxHeight300 {
  max-height: 300px !important;
}

.u-maxWidthNone {
  max-width: none !important;
}

.u-maxWidth150 {
  max-width: 150px !important;
}

.u-maxWidth190 {
  max-width: 190px !important;
}

.u-maxWidth200 {
  max-width: 200px !important;
}

.u-maxWidth300 {
  max-width: 300px !important;
}

.u-maxWidth310 {
  max-width: 310px !important;
}

.u-maxWidth360 {
  max-width: 360px !important;
}

.u-maxWidth400 {
  max-width: 400px !important;
}

.u-maxWidth414 {
  max-width: 414px !important;
}

.u-maxWidth450 {
  max-width: 450px !important;
}

.u-maxWidth500 {
  max-width: 500px !important;
}

.u-maxWidth550 {
  max-width: 550px !important;
}

.u-maxWidth570 {
  max-width: 570px !important;
}

.u-maxWidth600 {
  max-width: 600px !important;
}

.u-maxWidth640 {
  max-width: 640px !important;
}

.u-maxWidth660 {
  max-width: 660px !important;
}

.u-maxWidth700 {
  max-width: 700px !important;
}

.u-maxWidth740 {
  max-width: 740px !important;
}

.u-maxWidth900 {
  max-width: 900px !important;
}

.u-maxWidth920 {
  max-width: 920px !important;
}

.u-maxWidth930 {
  max-width: 930px !important;
}

.u-maxWidth1000 {
  max-width: 1000px !important;
}

.u-maxWidth1040 {
  max-width: 1040px !important;
}

.u-maxWidth1250 {
  max-width: 1250px !important;
}

@media screen and (max-width: 767px) {
  .u-xs-maxHeight32 {
    max-height: 32px !important;
  }
  .u-xs-maxWidth120 {
    max-width: 120px !important;
  }
  .u-xs-maxWidth160 {
    max-width: 160px !important;
  }
  .u-xs-maxWidth200 {
    max-width: 200px !important;
  }
  .u-xs-maxWidth350 {
    max-width: 350px !important;
  }
  .u-xs-maxWidth700 {
    max-width: 700px !important;
  }
}

.u-minWidth200 {
  min-width: 200px !important;
}

.u-minWidth360 {
  min-width: 360px !important;
}

.u-minHeight22 {
  min-height: 22px !important;
}

.u-minHeight25 {
  min-height: 25px !important;
}

.u-minHeight28 {
  min-height: 28px !important;
}

.u-minHeight31 {
  min-height: 31px !important;
}

.u-minHeight250 {
  min-height: 250px !important;
}

.u-minHeight300 {
  min-height: 300px !important;
}

.u-minHeight400 {
  min-height: 400px !important;
}

.u-minHeight450 {
  min-height: 450px !important;
}

@media screen and (max-width: 991px) {
  .u-sm-minHeight150 {
    min-height: 150px !important;
  }
}

@media screen and (max-width: 767px) {
  .u-xs-minHeight100 {
    min-height: 100px !important;
  }
}

.u-size16x16 {
  width: 16px !important;
  height: 16px !important;
}

.u-size32x32 {
  width: 32px !important;
  height: 32px !important;
}

.u-size36x36 {
  width: 36px !important;
  height: 36px !important;
}

.u-size50x50 {
  width: 50px !important;
  height: 50px !important;
}

.u-size60x60 {
  width: 60px !important;
  height: 60px !important;
}

.u-size85x85 {
  width: 85px !important;
  height: 85px !important;
}

.u-size100x100 {
  width: 100px !important;
  height: 100px !important;
}

.u-size116x116 {
  width: 116px !important;
  height: 116px !important;
}

@media screen and (max-width: 767px) {
  .u-xs-size32x32 {
    width: 32px !important;
    height: 32px !important;
  }
  .u-xs-size40x40 {
    width: 40px !important;
    height: 40px !important;
  }
  .u-xs-size80x80 {
    width: 80px !important;
    height: 80px !important;
  }
}

.u-sizeAuto {
  width: auto !important;
  max-width: none !important;
}

.u-sizeFull, .u-sizeFullWidth {
  width: 100% !important;
}

.u-sizeFull, .u-sizeFullHeight {
  height: 100% !important;
}

.u-width20pct {
  width: 20% !important;
}

.u-width32pct {
  width: 32% !important;
}

.u-width33p33Pct {
  width: 33.33% !important;
}

.u-width40pct {
  width: 40% !important;
}

.u-sizeHalfWidth {
  width: 50% !important;
}

.u-width60pct {
  width: 60% !important;
}

.u-width70pct {
  width: 70% !important;
}

.u-width90pct {
  width: 90% !important;
}

.u-maxSizeHalfWidth {
  max-width: 50% !important;
}

.u-maxSizeFullHeight {
  max-height: 100% !important;
}

@media screen and (max-width: 991px) {
  .u-sm-height42 {
    height: 42px !important;
  }
  .u-sm-height130 {
    height: 130px !important;
  }
  .u-sm-height170 {
    height: 170px !important;
  }
  .u-sm-height200 {
    height: 200px !important;
  }
  .u-sm-heightAuto {
    height: auto !important;
  }
  .u-sm-sizeFullWidth {
    width: 100% !important;
  }
}

@media screen and (max-width: 767px) {
  .u-xs-maxSizeFullWidth {
    max-width: 100% !important;
  }
  .u-xs-sizeFullWidth {
    width: 100% !important;
  }
  .u-xs-sizeFull {
    width: 100% !important;
    height: 100% !important;
  }
  .u-xs-sizeFullViewportWidth {
    width: 100vw !important;
  }
  .u-xs-widthAuto {
    width: auto !important;
  }
  .u-xs-heightAuto {
    height: auto !important;
  }
  .u-xs-height24 {
    height: 24px !important;
  }
  .u-xs-height32 {
    height: 32px !important;
  }
  .u-xs-height39 {
    height: 39px !important;
  }
  .u-xs-height50 {
    height: 50px !important;
  }
  .u-xs-height56 {
    height: 56px !important;
  }
  .u-xs-height95 {
    height: 95px !important;
  }
  .u-xs-height96 {
    height: 96px !important;
  }
  .u-xs-height100 {
    height: 100px !important;
  }
  .u-xs-height139 {
    height: 139px !important;
  }
  .u-xs-height170 {
    height: 170px !important;
  }
  .u-xs-height200 {
    height: 200px !important;
  }
  .u-xs-height240 {
    height: 240px !important;
  }
  .u-xs-height250 {
    height: 250px !important;
  }
  .u-xs-height350 {
    height: 350px !important;
  }
  .u-xs-width32 {
    width: 32px !important;
  }
  .u-xs-width120 {
    width: 120px !important;
  }
  .u-xs-width200 {
    width: 200px !important;
  }
  .u-xs-width300 {
    width: 300px !important;
  }
}

.u-sizeViewHeight100 {
  height: 100vh !important;
  box-sizing: border-box;
}

.u-sizeViewHeight110 {
  height: 110vh !important;
  box-sizing: border-box;
}

.u-sizeViewHeightMin100 {
  min-height: 100vh !important;
  box-sizing: border-box;
}

.u-sizeViewHeightMax100 {
  max-height: 100vh !important;
  box-sizing: border-box;
}

.u-size10of12, .u-size11of12, .u-size12of12, .u-size1of12, .u-size2of12, .u-size3of12, .u-size4of12, .u-size5of12, .u-size6of12, .u-size7of12, .u-size8of12, .u-size9of12 {
  float: left !important;
}

.u-size12of12 {
  width: 100% !important;
}

.u-size11of12 {
  width: 91.66667% !important;
}

.u-size10of12 {
  width: 83.33333% !important;
}

.u-size9of12 {
  width: 75% !important;
}

.u-size8of12 {
  width: 66.66667% !important;
}

.u-size7of12 {
  width: 58.33333% !important;
}

.u-size6of12 {
  width: 50% !important;
}

.u-size5of12 {
  width: 41.66667% !important;
}

.u-size4of12 {
  width: 33.33333% !important;
}

.u-size3of12 {
  width: 25% !important;
}

.u-size2of12 {
  width: 16.66667% !important;
}

.u-size1of12 {
  width: 8.33333% !important;
}

@media (max-width: 991px) {
  .u-sm-size12of12 {
    width: 100% !important;
  }
}

@media (max-width: 767px) {
  .u-xs-size6of12 {
    width: 50% !important;
  }
  .u-xs-size12of12 {
    width: 100% !important;
  }
}

.u-backgroundNone {
  background: 0 0 !important;
}

.u-backgroundTransparent {
  background: transparent !important;
}

.u-backgroundSizeCover {
  background-size: cover !important;
}

.u-backgroundSize1000 {
  background-size: 1000px !important;
}

.u-backgroundOriginBorderBox {
  background-origin: border-box !important;
}

.u-backgroundCover {
  background-position: center !important;
  background-origin: border-box !important;
  background-size: cover !important;
}

.u-backgroundContain {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.u-backgroundNoRepeat {
  background-repeat: no-repeat !important;
}

.u-borderRight0 {
  border-right: 0 !important;
}

.u-borderStyleSolid {
  border-style: solid !important;
}

.u-border0 {
  border: 0 !important;
}

.u-border1 {
  border: 1px solid !important;
}

.u-border2 {
  border: 2px solid !important;
}

.u-borderTop0 {
  border-top: 0 !important;
}

.u-borderTop1 {
  border-top: 1px solid !important;
}

.u-borderTop2 {
  border-top: 2px solid !important;
}

.u-borderBottom1 {
  border-bottom: 1px solid !important;
}

.u-borderLeft0 {
  border-left: 0 !important;
}

.u-borderLeft1 {
  border-left: 1px solid !important;
}

.u-borderLeft4 {
  border-left: 4px solid !important;
}

.u-borderLeftDashed {
  border-left: 1px dashed !important;
}

.u-borderWidth2 {
  border-width: 2px !important;
}

@media screen and (max-width: 767px) {
  .u-xs-border0 {
    border: 0 !important;
  }
}

.u-boxShadow {
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05);
}

.u-boxShadowThick {
  box-shadow: 0 5px 30px -6px rgba(0, 0, 0, 0.15);
}

.u-boxShadowBottomThinLighter {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.15);
}

.u-boxShadowBottom {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05);
}

.u-boxShadowInnerBottom {
  box-shadow: inset 0 -1px 3px 0 rgba(0, 0, 0, 0.05);
}

.u-boxShadowTop {
  box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, 0.0785);
}

.u-boxShadow1px4pxCardBorder {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
}

.u-boxShadowInsetSpread1pxLighter {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}

.u-boxShadowNormal {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.44);
}

.u-boxShadowSurround {
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.15);
}

.u-boxShadowBlur8pxLighter {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.u-boxShadowBlur8pxLightHover:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.u-boxShadow4px16pxN2pxBlack10WithBorderBlack02 {
  box-shadow: 0 4px 16px -2px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.02);
}

@media screen and (max-width: 767px) {
  .u-xs-boxShadowNone {
    box-shadow: none !important;
  }
}

.u-transitionSeries {
  &:nth-child(2) {
    transition-delay: 30ms !important;
  }
  &:nth-child(3) {
    transition-delay: 60ms !important;
  }
  &:nth-child(4) {
    transition-delay: 90ms !important;
  }
}

.u-animationSeries {
  &:nth-child(2) {
    animation-delay: 0.1s !important;
  }
  &:nth-child(3) {
    animation-delay: 0.2s !important;
  }
}

.u-transparent {
  opacity: 0 !important;
}

.u-invisible {
  visibility: hidden !important;
}

.u-hideOutline {
  outline: 0 !important;
}

.u-round {
  border-radius: 999em;
}

.u-borderRadius0 {
  border-radius: 0 !important;
}

.u-borderRadius2 {
  border-radius: 2px !important;
}

.u-borderRadius3 {
  border-radius: 3px !important;
}

.u-borderRadius4 {
  border-radius: 4px !important;
}

.u-borderRadius10 {
  border-radius: 10px !important;
}

.u-borderRadiusTop4 {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

@media screen and (max-width: 767px) {
  .u-xs-borderRadiusTop0 {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

.u-listStyleDisc {
  list-style: disc !important;
}

.u-listStyleDecimal {
  list-style: decimal !important;
}

.u-cursorPointer {
  cursor: pointer !important;
}

.u-cursorAuto {
  cursor: auto !important;
}

.u-cursorDefault {
  cursor: default !important;
}

.u-cursorGrab {
  cursor: -webkit-grab !important;
  cursor: grab !important;
}

.u-cursorGrabbing {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
}

.u-textColorTwitterBlue {
  color: #55acee !important;
  fill: #55acee !important;
}

.u-textUnderline {
  text-decoration: underline !important;
}

.u-textUppercase {
  text-transform: uppercase !important;
}

.u-uiTextBold {
  /* font-family: ; */
  letter-spacing: 0 !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

.u-uiTextSemibold {
  /* font-family: ; */
  letter-spacing: 0 !important;
  font-weight: 600 !important;
  font-style: normal !important;
}

.u-uiTextMedium {
  /* font-family: ; */
  letter-spacing: 0 !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

.u-uiTextRegular {
  /* font-family: ; */
  letter-spacing: 0 !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.u-uiTextThin {
  /* font-family: ; */
  letter-spacing: 0 !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

.u-uiTextMonospace {
  font-family: Menlo, Monaco, "Courier New", Courier, monospace !important;
  letter-spacing: 0 !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.u-contentSansBold {
  --x-height-multiplier: 0.363 !important;
  --baseline-multiplier: 0.157 !important;
  /* font-family: readable font; */
  letter-spacing: (-0.02em) !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

.u-contentSansRegular {
  --x-height-multiplier: 0.363 !important;
  --baseline-multiplier: 0.157 !important;
  /* font-family: readable font; */
  letter-spacing: (-0.02em) !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.u-contentSansThin {
  --x-height-multiplier: 0.363 !important;
  --baseline-multiplier: 0.157 !important;
  /* font-family: readable font; */
  letter-spacing: (-0.02em) !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

.u-contentSerifRegular {
  --x-height-multiplier: 0.35 !important;
  --baseline-multiplier: 0.179 !important;
  /* font-family: readable font; */
  letter-spacing: 0.01rem !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.u-contentSerifItalic {
  --x-height-multiplier: 0.35 !important;
  --baseline-multiplier: 0.179 !important;
  /* font-family: readable font; */
  letter-spacing: 0.01rem !important;
  font-weight: 400 !important;
  font-style: italic !important;
}

.u-contentSerifBold {
  --x-height-multiplier: 0.35 !important;
  --baseline-multiplier: 0.179 !important;
  /* font-family: readable font; */
  letter-spacing: 0.01rem !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

.u-contentSlabItalic {
  --x-height-multiplier: 0.363 !important;
  --baseline-multiplier: 0.157 !important;
  /* font-family: readable font; */
  font-weight: 400 !important;
  font-style: italic !important;
}

.u-uiSerifRegular {
  --x-height-multiplier: 0.35 !important;
  --baseline-multiplier: 0.179 !important;
  /* font-family: readable font; */
  letter-spacing: 0.01rem !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.u-fontSize11 {
  font-size: 11px !important;
}

.u-fontSize12 {
  font-size: 12px !important;
}

.u-fontSize13 {
  font-size: 13px !important;
}

.u-fontSize14 {
  font-size: 14px !important;
}

.u-fontSize16 {
  font-size: 16px !important;
}

.u-fontSize18 {
  font-size: 18px !important;
}

.u-fontSize20 {
  font-size: 20px !important;
}

.u-fontSize22 {
  font-size: 22px !important;
}

.u-fontSize24 {
  font-size: 24px !important;
}

.u-fontSize28 {
  font-size: 28px !important;
}

.u-fontSize32 {
  font-size: 32px !important;
}

.u-fontSize36 {
  font-size: 36px !important;
}

.u-fontSize40 {
  font-size: 40px !important;
}

.u-fontSize44 {
  font-size: 44px !important;
}

.u-fontSize48 {
  font-size: 48px !important;
}

.u-fontSize50 {
  font-size: 50px !important;
}

.u-fontSize60 {
  font-size: 60px !important;
}

.u-fontSize75 {
  font-size: 75px !important;
}

.u-fontSize200 {
  font-size: 200px !important;
}

@media screen and (max-width: 991px) {
  .u-sm-fontSize150 {
    font-size: 150px !important;
  }
}

@media screen and (max-width: 767px) {
  .u-xs-fontSize12 {
    font-size: 12px !important;
  }
  .u-xs-fontSize16 {
    font-size: 16px !important;
  }
  .u-xs-fontSize18 {
    font-size: 18px !important;
  }
  .u-xs-fontSize20 {
    font-size: 20px !important;
  }
  .u-xs-fontSize22 {
    font-size: 22px !important;
  }
  .u-xs-fontSize24 {
    font-size: 24px !important;
  }
  .u-xs-fontSize28 {
    font-size: 28px !important;
  }
  .u-xs-fontSize32 {
    font-size: 32px !important;
  }
  .u-xs-fontSize36 {
    font-size: 36px !important;
  }
  .u-xs-fontSize40 {
    font-size: 40px !important;
  }
}

.u-fontWeightThin {
  font-weight: 300 !important;
}

.u-fontWeightNormal {
  font-weight: 400 !important;
}

.u-fontWeightMedium {
  font-weight: 500 !important;
}

.u-fontWeightSemibold {
  font-weight: 600 !important;
}

.u-fontWeightBold {
  font-weight: 700 !important;
}

.u-lineHeightHalf {
  line-height: 0.5 !important;
}

.u-lineHeightLoose {
  line-height: 1.6 !important;
}

.u-lineHeightBase {
  line-height: 1.4 !important;
}

.u-lineHeightBaseSans {
  line-height: 1.3 !important;
}

.u-lineHeightTight {
  line-height: 1.2 !important;
}

.u-lineHeightTighter {
  line-height: 1.1 !important;
}

.u-lineHeightTightest {
  line-height: 1 !important;
}

.u-lineHeightLoose {
  line-height: 1.6 !important;
}

.u-lineHeight13 {
  line-height: 13px !important;
}

.u-lineHeight18 {
  line-height: 18px !important;
}

.u-lineHeight30 {
  line-height: 30px !important;
}

.u-lineHeight32 {
  line-height: 32px !important;
}

.u-lineHeight35 {
  line-height: 35px !important;
}

.u-lineHeight36 {
  line-height: 36px !important;
}

.u-lineHeight40 {
  line-height: 40px !important;
}

.u-lineHeight44 {
  line-height: 44px !important;
}

.u-lineHeight100 {
  line-height: 100px !important;
}

.u-lineHeightInherit {
  line-height: inherit !important;
}

@media screen and (max-width: 991px) {
  .u-sm-lineHeight44 {
    line-height: 44px !important;
  }
}

@media screen and (max-width: 767px) {
  .u-xs-lineHeight22 {
    line-height: 22px !important;
  }
}

.u-letterSpacing003 {
  letter-spacing: 0.03em !important;
}

.u-letterSpacingTight {
  letter-spacing: (-0.02em) !important;
}

.u-letterSpacingTighter {
  letter-spacing: (-0.04em) !important;
}

.u-letterSpacingNormal {
  letter-spacing: 0 !important;
}

.u-letterSpacingLoose {
  letter-spacing: 0.1em !important;
}

.u-textAlignCenter {
  text-align: center !important;
}

.u-textAlignRight {
  text-align: right !important;
}

.u-textAlignLeft {
  text-align: left !important;
}

@media (max-width: 767px) {
  .u-xs-textAlignLeft {
    text-align: left !important;
  }
  .u-xs-textAlignRight {
    text-align: right !important;
  }
  .u-xs-textAlignCenter {
    text-align: center !important;
  }
}

.u-noWrap {
  white-space: nowrap !important;
}

.u-normalWrap {
  white-space: normal !important;
}

.u-noWrapWithEllipsis {
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}

.u-textOverflowEllipsis {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}

@media screen and (max-width: 767px) {
  .u-xs-normalWrap {
    white-space: normal !important;
  }
  .u-xs-noWrapWithEllipsis {
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
  }
}

.u-wordBreakNormal {
  word-break: normal !important;
}

.u-breakWord {
  word-break: break-word;
  word-wrap: break-word;
}

.u-lineClamp2 {
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

.u-lineClamp3 {
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

.u-maxHeight2LineHeightBase {
  overflow: hidden;
  line-height: 1.4 !important;
  max-height: 2.8em !important;
}

.u-maxHeight2LineHeightTighter {
  overflow: hidden;
  line-height: 1.1 !important;
  max-height: 2.2em !important;
}

.u-maxHeight2LineHeightTight {
  overflow: hidden;
  line-height: 1.2 !important;
  max-height: 2.4em !important;
}

.u-maxHeight3LineHeightTight {
  overflow: hidden;
  line-height: 1.2 !important;
  max-height: 3.6em !important;
}

.u-maxHeight3LineHeightBase {
  overflow: hidden;
  line-height: 1.4 !important;
  max-height: 4.2em !important;
}

@media screen and (max-width: 767px) {
  .u-xs-lineClamp2 {
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    overflow: hidden !important;
  }
  .u-xs-maxHeight2LineHeightBase {
    overflow: hidden;
    line-height: 1.4 !important;
    max-height: 2.8em !important;
  }
}

.u-transition--fadeOut100 {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear .1s,opacity .1s 0s;
}

.u-transition--fadeOut300 {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear .3s,opacity .3s 0s;
}

.u-transition--fadeIn300 {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s,opacity .3s 0s;
}

.u-transition--fadeIn200Delay150 {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s,opacity .2s 150ms;
}

.u-transition--transform125 {
  transition: transform 125ms ease-in-out;
}

.u-transition--transformLinear200 {
  transition: transform .2s linear;
}

.u-transition--transform200Spring {
  transition: transform 0.2s cubic-bezier(0.25, 0, 0.6, 1.4);
}

.u-transition--transform200EaseOutCubicOpacity125EaseIn {
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 125ms ease-in;
}

.u-transition--transform250BoxShadow200 {
  transition: transform 250ms ease-in-out,box-shadow .2s ease-in-out;
}

.u-transition--boxShadow200 {
  transition: box-shadow .2s ease-in-out;
}

.u-transition--none {
  transition: none;
}

.u-backfaceVisibilityHidden {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.u-transformOriginLeft {
  transform-origin: left;
}

.col, .container, .row {
  box-sizing: border-box;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -20px;
  margin-left: -20px;
  &:after, &:before {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}

.col {
  position: relative;
  min-height: 1px;
  padding-right: 20px;
  padding-left: 20px;
}
