.codehilite { 
  padding: 10px;
  background: #f8fbfc;
  border: solid 1px #f1f6f9;
  border-bottom: solid 1px #d9eaf2;
}

.codehilite .k {
color: #1481b8; }

.codehilite .kd {
color: #1481b8; }

.codehilite .kt {
color: #09a; }

.codehilite .s {
color: #c70; }

.codehilite .sc {
color: #c70; }

.codehilite .s2 {
color: #c70; }

.codehilite .c {
color: #999; }

.codehilite .c1 {
color: #999; }

.codehilite .cm {
color: #999; }

.codehilite .cp {
color: #594; }

.codehilite .nl {
color: #1481b8; }

.codehilite .nt {
color: #1481b8; }

.codehilite .err {
color: #1481b8; }
