/*

Zenburn style from voldmar.ru (c) Vladimir Epifanov <voldmar@voldmar.ru>
based on dark.css by Ivan Sagalaev

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #3f3f3f;
  color: #dcdcdc;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-tag {
  color: #e3ceab;
}

.hljs-template-tag {
  color: #dcdcdc;
}

.hljs-number {
  color: #8cd0d3;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute {
  color: #efdcbc;
}

.hljs-literal {
  color: #efefaf;
}

.hljs-subst {
  color: #8f8f8f;
}

.hljs-title,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-section,
.hljs-type {
  color: #efef8f;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #dca3a3;
}

.hljs-deletion,
.hljs-string,
.hljs-built_in,
.hljs-builtin-name {
  color: #cc9393;
}

.hljs-addition,
.hljs-comment,
.hljs-quote,
.hljs-meta {
  color: #7f9f7f;
}


.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/

//.hljs {
//  display: block;
//  overflow-x: auto;
//  padding: 0.5em;
//  background: #002b36;
//  color: #839496;
//}
//
//.hljs-comment,
//.hljs-quote {
//  color: #586e75;
//}
//
///* Solarized Green */
//.hljs-keyword,
//.hljs-selector-tag,
//.hljs-addition {
//  color: #859900;
//}
//
///* Solarized Cyan */
//.hljs-number,
//.hljs-string,
//.hljs-meta .hljs-meta-string,
//.hljs-literal,
//.hljs-doctag,
//.hljs-regexp {
//  color: #2aa198;
//}
//
///* Solarized Blue */
//.hljs-title,
//.hljs-section,
//.hljs-name,
//.hljs-selector-id,
//.hljs-selector-class {
//  color: #268bd2;
//}
//
///* Solarized Yellow */
//.hljs-attribute,
//.hljs-attr,
//.hljs-variable,
//.hljs-template-variable,
//.hljs-class .hljs-title,
//.hljs-type {
//  color: #b58900;
//}
//
///* Solarized Orange */
//.hljs-symbol,
//.hljs-bullet,
//.hljs-subst,
//.hljs-meta,
//.hljs-meta .hljs-keyword,
//.hljs-selector-attr,
//.hljs-selector-pseudo,
//.hljs-link {
//  color: #cb4b16;
//}
//
///* Solarized Red */
//.hljs-built_in,
//.hljs-deletion {
//  color: #dc322f;
//}
//
//.hljs-formula {
//  background: #073642;
//}
//
//.hljs-emphasis {
//  font-style: italic;
//}
//
//.hljs-strong {
//  font-weight: bold;
//}
