@import 'vars.scss';

body {
  margin: 0;
  padding: 0;
	font-family: Helvetica, sans-serif;
	background: #fafafa;
  -webkit-font-smoothing: antialiased;

  /* for footer */
  height: 100%;
  min-height: 100%;
  height: 100vh;
}

#root {
  /* for footer */
  height: 100%;
  min-height: 100%;
  height: 100%;
}

#container {
	max-width: 1160px;
	margin: 0 auto;
	padding-left: 256px;
  padding-top: 50px;
}

/* for footer, TODO: fix / better way */
#root div:first,
#layout,
#container {
  min-height: 100%;
  height: 100%;
}

/*
* https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete/32505530#32505530
* http://webagility.com/posts/remove-forced-yellow-input-background-in-chrome
* https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/
*/
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: none;
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
  background-color: transparent!important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
}

/*
 * Global
*/

h1, h3 { font-weight: 300; }

h1 { color: #636363; font-size: 2em; }

h3 { color: #4a89dc; font-size: 1.17em; }

.bold {
  font-weight: bold;
}

.top-buffer-10 {
  margin-top: 10px;
}

.top-buffer-20 {
  margin-top: 20px;
}

.top-buffer-30 {
  margin-top: 30px;
}

.top-buffer-40 {
  margin-top: 40px;
}

.top-buffer-50 {
  margin-top: 50px;
}

@media (max-width: 767px) {

  .top-buffer-xs-10 {
    margin-top: 10px;
  }

  .top-buffer-xs-20 {
    margin-top: 20px;
  }

  .top-buffer-xs-30 {
    margin-top: 30px;
  }

  .top-buffer-xs-40 {
    margin-top: 40px;
  }

  .top-buffer-xs-50 {
    margin-top: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .top-buffer-sm-10 {
    margin-top: 10px;
  }

  .top-buffer-sm-20 {
    margin-top: 20px;
  }

  .top-buffer-sm-30 {
    margin-top: 30px;
  }

  .top-buffer-sm-40 {
    margin-top: 40px;
  }

  .top-buffer-sm-50 {
    margin-top: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .top-buffer-md-10 {
    margin-top: 10px;
  }

  .top-buffer-md-20 {
    margin-top: 20px;
  }

  .top-buffer-md-30 {
    margin-top: 30px;
  }

  .top-buffer-md-40 {
    margin-top: 40px;
  }

  .top-buffer-md-50 {
    margin-top: 50px;
  }
}

@media (min-width: 1200px) {
  .top-buffer-lg-10 {
    margin-top: 10px;
  }

  .top-buffer-lg-20 {
    margin-top: 20px;
  }

  .top-buffer-lg-30 {
    margin-top: 30px;
  }

  .top-buffer-lg-40 {
    margin-top: 40px;
  }

  .top-buffer-lg-50 {
    margin-top: 50px;
  }
}

/* Responsive text align */
@media (max-width: 767px) {

  .text-xs-left {
    text-align: left;
  }

  .text-xs-right {
    text-align: right;
  }

  .text-xs-center {
    text-align: center;
  }

  .text-xs-justify {
    text-align: justify;
  }

}

@media (min-width: 768px) {
  .text-sm-left {
    text-align: left;
  }

  .text-sm-right {
    text-align: right;
  }

  .text-sm-center {
    text-align: center;
  }

  .text-sm-justify {
    text-align: justify;
  }
}

@media (min-width: 992px) {
  .text-md-left {
    text-align: left;
  }

  .text-md-right {
    text-align: right;
  }

  .text-md-center {
    text-align: center;
  }

  .text-md-justify {
    text-align: justify;
  }
}

@media (min-width: 1200px) {
  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-justify {
    text-align: justify;
  }
}

.pointer, .pointer:hover {
  cursor: pointer!important;
}

.pointer {
  cursor: pointer;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.no-border {
  border: none!important;
}

.no-background {
  background-image: none!important;
}

.separator-little {
  border-bottom: 1px solid #ececec;
  width: 100%;
  height: 2px;
}

.separator-medium {
  border-bottom: solid 2px #d1d3d2;
  width: 100%;
  height: 4px;
}

.hr {
  border-top: 1px solid #d2d2d2!important;
}

.clear {
  clear: both;
}

.not-selectable, .disable-user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// A 'readable' text, easy to read.
.readable {
  font-size: 21px;
  line-height: 33.18px;
  font-weight: 400;
  font-family: $font-readable;
  color: $content-text-color;
  -webkit-font-smoothing: antialiased;
}
