$font-readable: "bm-content-serif-font", Georgia, Cambria, "Times New Roman", Times, serif;
$font-sans-serif: "bm-content-sans-serif-font", Georgia, Cambria, "Times New Roman", Times, serif;
$text-color: #28343d;
$content-text-color: rgba(0, 0, 0, 0.8);
